.heroBanner {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-weight: 400;
  }
  p {
    font-size: 14px;
    width: 70%;
    text-align: center;
  }
}

.posts {
  background-color: #3f8b61;
  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and(min-width: 600px) {
  .posts {
    ul {
      display: flex;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}

@media screen and(min-width:1000px) {
  .posts {
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
  }
  .gridCenter {
    grid-column: 2/3;
  }
}
